
manifest {
    description = 'Proof-of-concept pipeline for performing hyperparameter optimization of machine learning models with Nextflow'
    author = 'Ben Sherman'
    nextflowVersion = '>=23.10.0'
}

params.outdir = 'results'

/*
 * Execution profiles for different environments.
 */
profiles {
    test {
        params.fetch_datasets = 'iris,diabetes,wdbc'
        params.train_models = 'dummy,gb,lr,mlp,rf'
    }

    test_prepared {
        params.train_test_splits = 'data/splits.json'
        params.pretrained_models = 'data/pretrained_models.json'
    }

    slurm {
        process.executor = 'slurm'
    }

    conda {
        process.conda = "${projectDir}/conda.yml"
        conda.enabled = true
    }

    wave {
        process.conda = "${projectDir}/conda.yml"
        docker.enabled = true
        wave.enabled = true
        wave.strategy = 'conda'
    }
}
