/*
 * Copyright (c) 2022, Seqera Labs.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
manifest {
    description = 'Proof-of-concept pipeline for performing hyperparameter optimization of machine learning models with Nextflow'
    author = 'Ben Sherman'
    nextflowVersion = '>=22.10.0'
}

nextflow {
    enable.moduleBinaries = true
}

/*
 * Default pipeline parameters. They can be overriden on the command line eg.
 * given `params.foo` specify on the run command line `--foo some_value`.
 */
params {
    fetch_dataset = true
    dataset_name = 'wdbc'

    visualize = true

    datadir = 'data'

    train = true
    train_data = "${params.datadir}/*.train.txt"
    train_meta = "${params.datadir}/*.meta.json"
    train_models = ['dummy', 'gb', 'lr', 'mlp', 'rf']

    predict = true
    predict_models = "${params.datadir}/*.pkl"
    predict_data = "${params.datadir}/*.predict.txt"
    predict_meta = "${params.datadir}/*.meta.json"

    outdir = 'results'
}


/*
 * Execution profiles for different environments.
 */
profiles {
    slurm {
        process.executor = 'slurm'
    }

    conda {
        process.conda = "$baseDir/conda.yml"
        conda.enabled = true
    }

    wave {
        process.conda = "$baseDir/conda.yml"
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        wave.enabled = true
        wave.strategy = 'conda'
        wave.build.conda.commands = [
            'USER root',
            'RUN apt-get update -y && apt-get install -y procps'
        ]
    }
}
