/*
 * Copyright (c) 2022, Seqera Labs.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
manifest {
    description = 'Proof of concept of a machine learning pipeline implemented with Nextflow'
    author = 'Ben Sherman'
    nextflowVersion = '>=22.10.0'
}


/*
 * Default pipeline parameters. They can be overriden on the command line eg.
 * given `params.foo` specify on the run command line `--foo some_value`.
 */
params {
    make_dataset = true
    n_samples = 1000
    n_features = 20
    n_classes = 5

    visualize = true

    datadir = 'data'

    train = true
    train_data = "${params.datadir}/*.train.data.txt"
    train_labels = "${params.datadir}/*.train.labels.txt"
    train_models = ['dummy', 'gb', 'lr', 'mlp', 'rf']

    predict = true
    predict_model = "${params.datadir}/*.pkl"
    predict_data = "${params.datadir}/*.predict.data.txt"
    predict_labels = "${params.datadir}/*.predict.labels.txt"

    outdir = 'results'
}


/*
 * Execution profiles for different environments.
 */
profiles {
    standard {
        process.container = 'quay.io/nextflow/ml-example:v1.0'
    }

    docker {
        process.container = 'quay.io/nextflow/ml-example:v1.0'
        docker.enabled = true
    }

    slurm {
        process.container = 'quay.io/nextflow/ml-example:v1.0'
        process.executor = 'slurm'
        singularity.enabled = true
    }

    conda {
        process.conda = "$baseDir/conda.yml"
    }

    wave {
        process.conda = "$baseDir/conda.yml"
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        wave.enabled = true
        wave.strategy = 'conda'
        wave.build.conda.commands = [
            'USER root',
            'RUN apt-get update -y && apt-get install -y procps'
          ]
    }
}
